<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://pbs.twimg.com/media/EbNX_erVcAUlwIx.jpg:large" />
    <ion-card-header>
      <ion-card-subtitle>{{infoObj.school}}</ion-card-subtitle>
      <ion-card-title>{{infoObj.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{infoObj.bio}}
    </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>